:root {
    --primary: #FFFFF0;
    --secondary: #CA9393;
    --tertiary: black;
    --font: menlo;
    --normal: normal;
}

body {
    background-color: var(--primary);
    margin: 0;
    font-family: var(--font);
    font-weight: var(--normal);
    font-style: var(--normal);
    /* border: solid black; */
    width: 100vw;
    /* position: absolute; */
}


header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    align-items: center;
    width: 100vw;
    /* border: solid black; */
}

h1 {
    font-size: 250%;
    margin-left: 5%;
    font-style: var(--normal);
    font-weight: var(--normal);
    color: var(--primary);
    /* border: solid black; */
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-end;
    /* margin-left: 10%; */
    margin-right: 0;
    /* border: solid black; */
    width: 65%;
    justify-content: space-around;
    align-items: center;
    /* border: solid black; */
}

ul a{
    font-size: 150%;
    color: var(--tertiary);
    text-decoration: none;
}

ul a:hover {
    color: var(--primary);
}

#pete-image {
    display: flex;
    width: 100%;
    height: 500px;
    object-fit:cover;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0px; */
}

section h2 {
    padding-left: 2.5%;
    font-size: 200%;
    font-style: normal;
    font-weight: normal;
    color: var(--secondary);
}

#HTML-project {
    max-width: 95%;
    Height: 300px;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.other-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.other-projects p img{
    height: 90%;
    width: 85%;
    align-self: center;
    padding-left: 9%;
    padding-right: 0%;
}

.about p{
    margin-left: 2.5%;
}

.contact p{
    margin-left: 2.5%;
}

@media screen and (max-width: 768px) {
body {
    width: 100vw;
}

    header, section{
    flex-direction: column;
    justify-content: center;
}


ul {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-between;
    /* border: solid black; */
    /* width: 100%; */
    /* align-content: center; */
}

ul li {
    color: var(--tertiary);
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-top: solid black; */
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    /* width: 10%; */


}

ul a{
    /* height: 100%;
    width: 1000px; */
    position: relative;
    font-size: 150%;
    /* border: solid black; */
    /* color: var(--tertiary); */
    text-decoration: none;
}
 
.other-projects{
    display: flex;
    /* width: 120%; */
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

